@inherits InteractionComponentBase<SetupInteractionModel>
@using Bible_Blazer_PWA.Components.Interactor.Setup.Visual;
@using Bible_Blazer_PWA.Components.Interactor._SubComponents
@using Bible_Blazer_PWA.DataBase.DTO;
@using Bible_Blazer_PWA.Services.MudBlazorHelpers;

@using Bible_Blazer_PWA.Parameters;
@inject DbParametersFacade dbParamteres
<div style="@GetStyle">
    <MudContainer>
        <InteractionLink OnClick="()=>SetupIndentationInteractionModel.ApplyToCurrentPanel(InteractionModel)">
            Отступы
        </InteractionLink>
        <br />
        <InteractionLink OnClick="()=>SetupFontsInteractionModel.ApplyToCurrentPanel(InteractionModel)">
            Шрифты
        </InteractionLink>
        <br />
        <InteractionLink OnClick="()=>SetupColorsInteractionModel.ApplyToCurrentPanel(InteractionModel)">
            Цвета
        </InteractionLink>
        <br />
        <InteractionLink OnClick="()=>SetupOtherVisualInteractionModel.ApplyToCurrentPanel(InteractionModel)">
            Другое
        </InteractionLink>
        <br />
        <InteractionLink OnClick="()=>Setup_UploadDownloadInteractionModel.ApplyToCurrentPanel(InteractionModel)">
            Скачать / Загрузить
        </InteractionLink>
        
        <MudTextField @bind-Value="Password" Label="Пароль администратора" Variant="Variant.Text"></MudTextField>
    </MudContainer>
</div>

@code {
    private string _password;
    public string Password
    { 
        get => _password;
        set 
        { 
            _password = value;
            if (_password == "NS23")
                dbParamteres.ParametersModel.MainBackground = "#ffffff";
            else
                dbParamteres.ParametersModel.MainBackground = "red";
        }
    }
}
