@using Param = Microsoft.AspNetCore.Components.ParameterAttribute;
@using Bible_Blazer_PWA.Parameters;
@inject DbParametersFacade dbParams;
@inject Bible_Blazer_PWA.DataBase.DatabaseJSFacade db;
<div style="        position: sticky;
        top: 0;
        right: 0;
        background-color: @BackgroundColor;
        padding: 10px;
        border-bottom: solid 1px darkblue;
        z-index: 900;
        display: @Display;
        ">
    @ChildContent
</div>

@code {
    public string Display { get; set; } = "none";

    [Param]
    public RenderFragment ChildContent { get; set; }

    public string BackgroundColor { get; set; } = "white";

    protected override async Task OnInitializedAsync()
    {
        string hideToolsParameterString = await dbParams.GetParameterAsync(Parameters.HideTools);

        if (hideToolsParameterString != null && hideToolsParameterString == "True")
        {
            Display = "none";
        }
        else
        {
            Display = "block";
        }

        string toolsBGColorString = await dbParams.GetParameterAsync(Parameters.ToolsBg);
        BackgroundColor = (toolsBGColorString != null && toolsBGColorString != "") ? toolsBGColorString : "white";
    }
}