
<div style="        position: sticky;
        top: @TopHtml();
        right: @RightHtml();
        background-color: @BackgroundColor;
        padding: 10px;
        border-bottom: solid 1px darkblue;
        z-index: 900">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Top { get; set; } = 0;

    [Parameter]
    public int Right { get; set; } = 0;

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    string TopHtml()
    {
        if (Top == 0)
            return "0";
        return $"{Top}px";

    }

    string RightHtml()
    {
        if (Right == 0)
            return "0";
        return $"{Right}px";
    }

}