@inherits Bible_Blazer_PWA.Pages.ComponentWithDbInteractionBase

<div style="        position: sticky;
        top: @TopHtml();
        right: @RightHtml();
        background-color: @BackgroundColor;
        padding: 10px;
        border-bottom: solid 1px darkblue;
        z-index: 900;
        display: @Display;
        ">
    @ChildContent
</div>

@code {
    DbParametersFacade dbParams = null;

    public string Display { get; set; } = "none";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Top { get; set; } = 0;

    [Parameter]
    public int Right { get; set; } = 0;

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    protected override async Task OnInitializedAsync()
    {
        dbParams = new DbParametersFacade(DatabaseFacade);
        string hideToolsParameterString = await dbParams.GetParameterAsync("HideTools");

        if (hideToolsParameterString != null && hideToolsParameterString == "True")
        {
            Display = "none";
        }
        else
        {
            Display = "block";
        }
    }

    string TopHtml()
    {
        if (Top == 0)
            return "0";
        return $"{Top}px";

    }

    string RightHtml()
    {
        if (Right == 0)
            return "0";
        return $"{Right}px";
    }

}