@inject DbParametersFacade dbParams;
@inject Bible_Blazer_PWA.DataBase.DatabaseJSFacade db;
<div style="        position: sticky;
        top: @TopHtml();
        right: @RightHtml();
        background-color: @BackgroundColor;
        padding: 10px;
        border-bottom: solid 1px darkblue;
        z-index: 900;
        display: @Display;
        ">
    @ChildContent
</div>

@code {
    public string Display { get; set; } = "none";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Top { get; set; } = 0;

    [Parameter]
    public int Right { get; set; } = 0;

    public string BackgroundColor { get; set; } = "white";

    protected override async Task OnInitializedAsync()
    {
        string hideToolsParameterString = await dbParams.GetParameterAsync(DbParametersFacade.Parameters.HideTools);

        if (hideToolsParameterString != null && hideToolsParameterString == "True")
        {
            Display = "none";
        }
        else
        {
            Display = "block";
        }

        string toolsBGColorString = await dbParams.GetParameterAsync(DbParametersFacade.Parameters.ToolsBg);
        BackgroundColor = (toolsBGColorString != null && toolsBGColorString != "") ? toolsBGColorString : "white";
    }

    string TopHtml()
    {
        if (Top == 0)
            return "0";
        return $"{Top}px";

    }

    string RightHtml()
    {
        if (Right == 0)
            return "0";
        return $"{Right}px";
    }

}