@page "/lesson/{Id:int}"
@namespace BibleComponents
@using System.Text.RegularExpressions
@inject HttpClient Http
@using Microsoft.Extensions.Logging;
@inject ILoggerFactory LoggerFactory

@if (lesson != null)
{
    var composite = lesson.GetComposite();
    <h3>@composite.Value</h3>
    foreach (LessonElementData data in composite.Children)
    {
        LessonElementData data1 = data;
        <LessonElement ElementData="data1"></LessonElement>
    }
}

@code {
    [Parameter]
    public int Id { get; set; } = 0;

    protected LessonContainer lesson;

    async protected override Task OnParametersSetAsync()
    {
        lesson = await Http.GetFromJsonAsync<LessonContainer>($"Assets/lessons/{Id}.json");
    }
}
