@page "/lessons"
@using Bible_Blazer_PWA.DataSources
@using static Bible_Blazer_PWA.DataSources.LessonDS
@inject HttpClient Http

@if (LessonDS != null)
{
    <h3>Оглавление</h3>

    <ul>
        @foreach (LessonBlock block in LessonDS.GetBlocks())
        {
            <li class="px-3">
                @block.Name
                <ul>
                    @foreach (LessonInfo lesson in block.Lessons)
                    {
                        <li>
                            <NavLink class="nav-link" href="@($"lesson/{lesson.Number}")" Match="NavLinkMatch.All">@lesson.Name</NavLink>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}

@code {
    LessonDS LessonDS { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LessonDS = new LessonDS();
    }
}
