@page "/lesson5"
@using BibleComponents

<h3>5.Быт.6; - Исполины,важность Ковчега.</h3>
<Block Title="1)Быт.6:1-4; - непринятие С.Б.,Завета,Хр.,неправильные браки.">
    <Block Title="(1)Важность понимания Допотопного периода(около 1600 лет),разделения человечества от Адама и Евы. Быт.4. Быт.5:4-32. Быт.1:27;2:7,17(Быт.3:1-7; - Рим.5:12;6:23;Еф.2:2); - Быт.3:15,21.">
        <Block Title="(а)Принятие С.Б.,Завета,Хр.,род Завета,Хр.,дети Божьи.(Сыны Божьи – потомки Сифа,Сифиты). принятие С.Б.,Завета,Хр.,род Завета,Хр.,дети Божьи."></Block>
        <Block Title="(б)Непринятие С.Б.,Завета,Хр.,род неверия,дети д. (Дочери человеческие – потомки Каина,Каиниты)."></Block>
        <Block Title="(в)Неправильные браки – неправильное воспитание, непринятие С.Б.,Завета,Хр.,проблемы потомкам."></Block>
    </Block>
    <Block Title="(2)Ангелы – обьяснение Слова Божьего.">
        <Block Title="(а)Ангелы – нет физического тела,органов размножения и способности воспроизводить себе подобных. Мф.22:23;Быт.1:25."></Block>
        <Block Title="(б)Падшие ангелы – бесы,не сыны Божии. Иов.1:6;2:1;38:4-7."></Block>
        <Block Title="(в)Отсутствие смешения ангелов с другими видами творения – истинное свидетельство Слова Божьего для человека. Дн.17:26. (Слово Божье не учит о каких то иных видах разумного творения со свободной волей и правом выбора,либо о каком-либо смешении творений друг с другом – басни и мистицизм)."></Block>
    </Block>
</Block>


<Block Title="(3)Исполины – обьяснение Слова Божьего.">
    <Block Title="(а)Исполины – люди,видимый успех,непринятие С.Б,Завета,Хр, рождались и до,и во время,и после смешанных браков(Потоп). Быт.6:4(люди);Дн.17:26;Мф.24:38; - Быт.14:5;Чис.13:32-34; Втор.2:10-11,20;3:11;1-я Цар.17:4;2-я Цар.21:16-22; - Ис.14:9-15.(Рефаимы,Зузимы,Эмимы – название послепотоп. исполинов)."></Block>
    <Block Title="(б)Научное потверждение(археология) – человеческие останки от 3,5 до 5 метров,утверждение свидетельства Слова Божьего"></Block>
    <Block Title="(в)Появление исполинов – прообраз гордыни безбожного человечества(«большой человек»),Божье допущение"></Block>
    <Block Title="(г)Важность понимания «исполинов» современного мира – желание иметь власть,влияние,деньги,быть «большим чел.», непринятие С.Б.,Завета,Хр.,отказ от предназначения."></Block>
    <Block Title="(д)Истребление исполинов – прообраз судьбы безбожного человеч.,итог непринятия С.Б.,Завета,Хр. Рим.6:23;Мф.16:26."></Block>
</Block>
<Block Title="(4)Современная «книга Еноха» – апокриф,нет в каноне Библии, важность понимания Божьего суверенитета и контроля.">
    <Block Title="(а)Ссылка Иуды 1:14 на пророчество,но не на книгу Еноха."></Block>
    <Block Title="(б)Противоречия С.Б. – исполины 3000 локтей,обучение волшебству и заклятиям,души убитых исполинов станут злыми духами,т.е. бесами(гл.2:8-9;3:47-51)."></Block>
</Block>
<Block Title="(5)Пренебрежение С.Д. – непринятие С.Б.,Завета,Хр.,сокращение времени земной жизни человека.">
    <Block Title="(а)Важность понимания цели и смысла жизни человека – принятие или непринятие С.Б.,Завета,Хр.,право выбора, подготовка к жизни в вечности(где и с кем?). Втор.30:19."></Block>
    <Block Title="(б)Непринятие С.Б.,Завета,Хр.,неизбежность суда Божьего для всякого человека,исполнение С.Б.(Потоп) Рим.6:23."></Block>
</Block>

<Block Title="2)Быт.6:5-13; - непринятие С.Б.,Завета,Хр.,суд Божий.">
    <Block Title="(1)Раскаяние Бога о человечестве – непринятие С.Б.,Завета,Хр., неправильный выбор и погибель множества людей."></Block>
    <Block Title="(2)Потоп – суд Божий,ответственность человека,право выбора."></Block>
    <Block Title="(3)Благодать Божия – незаслуженная милость Богообщения, принятие С.Б.,Завета,Хр.,отклик и выбор Ноя на действие С.Д."></Block>
    <Block Title="(4)Праведность Ноя – принятие С.Б.,Завета,Хр.,Божий пророк. Евр.11:7; - 2-е Пет.2:5;1-е Пет.1:10-11;Дн.10:43."></Block>
</Block>

<Block Title="3)Быт.6:14-22; - важность принятия С.Б.,Завета,Хр.,выбор чел.">
    <Block Title="(1)Быт.6:14-16; - строительство Ковчега,Божья воля и план, важность принятия С.Б.,Божий суверенитет и контроль."></Block>
    <Block Title="(2)Ковчег – прообраз Христа и спасения,следствие принятия С.Б.,Завета,Хр.,важность понимания права выбора человека."></Block>
    <Block Title="(3)Быт.6:17; - причина Потопа,непринятие С.Б.,Завета,Хр. (Потоп – Б. суд водой,указание на суд Б. огнем). 2-е Пет.3:3-10."></Block>
    <Block Title="(4)Быт.6:18-21; - личный Завет с Ноем и его семьей,прообраз действия общего Завета во Христе со всем человечеством, при условии принятия С.Б.,Завета,Хр.(выбор человека)"></Block>
    <Block Title="(5)Быт.6:22; - принятие С.Б.,Завета,Хр.,спасение человека и животных(действие Божье), понимание воли Божьей."></Block>
</Block>


<Block Title="Заключение:">
    <Block Title="(1)Важность принятия С.Б.,Завета,Хр.,исполнение предназнач."></Block>
    <Block Title="(2)Важность невидимого(обманчивость видимого)."></Block>
    <Block Title="(3)Важность понимания суда Б. – непринятие С.Б.,Завета,Хр."></Block>
    <Block Title="(4)Ковчег,спасение – следствие принятия С.Б.,Завета,Хр."></Block>
    <Block Title="(5)Важность понимания Божьего суверенитета и контроля."></Block>
</Block>



@code {

}
