@page "/lesson1"
@using BibleComponents

<h3>1.Быт.1-3; - Сотворение,Грехопадение,Восстановл.</h3>

<Block Title="1)Предназначение народа Б. – сохранение и передача С.Б.">
    <Block Title="(1)Библия – записанное С.Б.,книга Завета Божьего."></Block>
    <Block Title="(2)Завет Божий – договор между Богом и человечеством."></Block>
    <Block Title="(3)Суть и смысл Завета Божьего – Христос.  Ин.5:39;Лк.24:27."></Block>
    <Block Title="(4)Понимание Библии – выявить Завет и Христа в С.Б. (Два фундаментальных отвеса при изучении Библии)."></Block>
    <Block Title="(5)Библия – Б. суверенитет,Божий порядок книг Библии. (Важность последовательного и систематического изучения)."></Block>
</Block>

<Block Title="2)Важность понимания Сотворения.">
    <Block Title="(1)Сотворение невидимого и видимого мира.">
        <Block Title="(а)Сотворение духовного(небо) и физического мира(земля) Святым,Триединым Богом через С.Б.,т.е. через Христа. (Бог Отец,Дух Божий,Слово Божье – Христос). Быт.1:1-3; - Ин.1:1-3,14(14:6);Евр.11:3;Кол.1:15-17;Отк.22:13."></Block>
        <Block Title="(б)Понимание предназначения творения и понимание Божьего метода нахождения творения в своей среде обитания. (Рыба – в воде,жабры;дерево – в земле,корень). Быт.1:3-25."></Block>
        <Block Title="(в)Нарушение предназначения творения или Божьего метода нахождения творения в своей среде обитания – смерть. (Рыба вне воды или без жабер;дерево вне земли или без корня)."></Block>
    </Block>
    <Block Title="(2)Сотворение человека.">
        <Block Title="(а)Быт.1:26; - Святой,Триединный Бог(Отец,Сын,Святой Дух)."></Block>
        <Block Title="(б)Быт.1:27; - образ Божий. (Отображение Святого Бога и Его качеств). Гал.4:19."></Block>
        <Block Title="(в)Быт.5:1(Быт.2:7;1-е Фес.5:23;Евр.4:12); - подобие Божье. (Вечное триединное творение – дух,душа,тело;свободная воля и право выбора человека)."></Block>
    </Block>

    <Block Title="(3)Понимание Эммануила – особенная важность понимания принципа сотворения человека. Быт.2:7(Быт.1:20-25). (Дерево в земле,рыба в воде,человек вместе с Богом).">
        <Block Title="(а)Разделение с Богом – смерть,мертвый чел.  Рим.5:12;Еф.2:2. (Смерть – следствие греха,дыхание жизни – Жизнь,Хр.)Ин.14:6."></Block>
        <Block Title="(б)Понимание и исполнение С.Б. – духовный чел. 1-е Кор.2:14."></Block>
        <Block Title="(в)Законная принадлежность Адама и Евы Богу. Рим.8:9."></Block>
    </Block>

    <Block Title="(4)Важность С.Б.,Завета,Хр. для человека. (Дерево в земле - корень,человек вместе с Богом – С.Б.,Завет).">
        <Block Title="(а)Утверждение Божьего Завета через С.Б. Быт.2:9,16-17;Ос.6:7. (Завет – Договор,Божьи условия для человека,инициатор Бог)."></Block>
        <Block Title="(б)Свободная воля и право выбора человека,осознанный выбор или отказ от жизни в С.Б.,Завете,Хр.,решение каждого чел. (Два дерева,жизнь или смерть – выбор и отвественность чел.)"></Block>
    </Block>

    <Block Title="(5)Важность понимания предназначения человека.">
        <Block Title="(а)Эммануил(Богообщение и Богопознание),служение и прославление Бога,наполнение земли детьми Б.  Быт.1:28."></Block>
        <Block Title="(б)Божий метод исполнения предназначения для человека – познание и передача С.Б.,Завета,Хр,ученики,Вс.Ев."></Block>
    </Block>
</Block>

<Block Title="3)Важность понимания Грехопадения. Быт.3:1-7.">
    <Block Title="(1)Понимание сущности с.  Иез.28:12-17;Евр.1:14.">
        <Block Title="(а)Ангел,вечное творение,служебный дух,свободная воля и право выбора – взаимоотношения с Богом определяются С.Б., должен служить Богу и человеку. (Михаил,Гавриил,Денница – архангелы Б.,иерархия ангелов)."></Block>
        <Block Title="(б)Полностью зависим и подконтролен Богу. Иов.1-2."></Block>
        <Block Title="(в)Находился в Эдемском саду как херувим осеняющий. Иез.28:13;Быт.1:31."></Block>
    </Block>
    <Block Title="(2)Понимание логики и мышления с.">
        <Block Title="(а)Понимание своей вечности – неизменный Божий дар."></Block>
        <Block Title="(б)Понимание вечности человека – неизменный Божий дар."></Block>
        <Block Title="(в)Незнание Бога как огонь поядающий.  Евр.12:29."></Block>
        <Block Title="(г)Непринятие статуса человека – дитя Б.,первый после Бога."></Block>
        <Block Title="(д)Желание быть равным Богу – противление С.Б.  Ис.14:14."></Block>
        <Block Title="(е)Равенство с Б. – занять место Бога в человеке, стать вечным «богом» для детей Божьих(юридическое равенство с Богом)."></Block>
        <Block Title="(ж)Человек – способ достижения с. своих желаний."></Block>
        <Block Title="(з)Грех с. – осознанный выбор жизни вне С.Б. 1-е Ин.3:8."></Block>
        <Block Title="(и)Принятие слова с.,треть ангелов – контроль чел. Отк.12:4,7."></Block>
        <Block Title="(к)Метод действия с. – упразднение С.Б.,Завета,Хр. Быт.3:1-6."></Block>
    </Block>
    <Block Title="(3)Понимание причины допуска с.">
        <Block Title="(а)Фактическое осуществление права выбора,Б. допущение."></Block>
        <Block Title="(б)Право выбора – человек для с.,с. для человека. Иак.1:13."></Block>
        <Block Title="(в)Выбор людей – жизнь вне С.Б.,Завета,Хр.,грех людей. Грех – жизнь вне С.Б.,Завета,Хр. 1-е Ин.3:8;Ос.6:7."></Block>
    </Block>
</Block>

<Block Title="4)Следствие упразднения С.Б.,Завета,Хр. Быт.3:7-12.">
    <Block Title="(1)Грех – жизнь вне С.Б.,Завета,Хр."></Block>
    <Block Title="(2)Смерть – полное разделение с Богом(страх перед Богом)."></Block>
    <Block Title="(3)Власть с. – пребывание,водительство и контроль человека."></Block>
    <Block Title="(а)Религия – попытка оправдания своими делами(листья)."></Block>
    <Block Title="(б)Обвинение Бога,нет раскаяния(«жена которую Ты дал»)."></Block>
</Block>

<Block Title="5)Последствия греха Адама – духовная проблема. (Адам представитель всего человечества,законные последствия выбора Адама для всех людей как его законных потомков).">
    <Block Title="(1)Рим.5:12; - законная власть греха над человечеством.">
        <Block Title="(а)Все грешники – статус(грех Адама),жизнь вне С.Б.,Завета,Хр Рим.3:10,23."></Block>
        <Block Title="(б)Наличие греховной  сущности человека – противление С.Б.  1-Кор.2:14;Рим.7:14-25."></Block>
        <Block Title="(в)Наличие греха Адама и личных согрешений человека – прошлых,настоящих и будущих(мысли,эмоции и поступки)."></Block>
    </Block>
    <Block Title="(2)Рим.6:23; - приговор С.Б.,смерть,вечное разделение с Б. (Неизменное и обязательное исполнение приговора С.Б.) Пс.137:2;Ин.10:35; - Быт.3:19,24(Отк.2:7)."></Block>
    <Block Title="(3)Еф.2:2; - власть с.(все люди от зачатия). Дн.26:18;Мф.12:43-45. Итог: человек и ангелы служат с."></Block>
</Block>

<Block Title="6)Важность понимания Восстановления. 1-е Тим.2:4.">
    <Block Title="(1)Быт.3:15(Мф.16:16); - семя жены.">
        <Block Title="(а)Рожденный без участия мужчины,Бог во плоти – Христос."></Block>
        <Block Title="(б)Сокрушение с. – миссия и предназначение Христа."></Block>
    </Block>
    <Block Title="(2)Быт.3:21(Ин.19:30;Евр.9:22); - жертва,пролитие крови.">
        <Block Title="(а)Справедливость Святого Бога,важность наказания греха,исполнение С.Б. – или я,или Христос вместо меня. Пс.137:2. (Возможность нести ответственность за все грехи всех людей,как Создатель и Творец мира и всего человечества)."></Block>
        <Block Title="(б)Цель – Эммануил(Бог вместе с человеком). Ин.3:16."></Block>
    </Block>
</Block>

<Block Title="7)Решение проблемы грехов. Мф.1:21;Евр.10:14.">
    <Block Title="(1)Первородного греха(грех Адама).  Рим.5:12;6:23."></Block>
    <Block Title="(2)Согрешений предков(родовые проклятия). Исх.20:5;Гал.3:13."></Block>
    <Block Title="(3)Личных согрешений(прошлых,настоящ.,будущих). Рим.4:6-8. Итог: Решение проблемы власти греха,смерти и ада,с.  Рим.8:2."></Block>
</Block>

<Block Title="8)Понимание спасения человека(исповедание).">
    <Block Title="(1)Искупление всех грехов всех людей – законное основание для прощения всякого человека(исполнение приговора С.Б.) 1-е Тим.2:4(Рим.2:11); - 1-е Ин.2:2;Ис.53:5-6;2-е Кор.5:19; Евр.2:9;1-е Тим.4:10;Ин.3:16; - Кол.2:13;Евр.10:14;Рим.4:6-8."></Block>
    <Block Title="(2)Искупление без прощения не действенно для человека. (Искупление – законное основание для прощения человека)."></Block>
    <Block Title="(3)Прощение – принятие С.Б.,Завета,Хр.,исповедание человека. (Понимание – Кто такой Христос? Цель Его прихода?) Рим.10:9"></Block>
    <Block Title="(4)Неискупленный или непрощенный грех – невозможность законного оправдания человека,вечное разделение с Богом. Спасение – Эммануил,Бог вместе с человеком. Рим.8:2. (Рождение свыше,восстановление в первоначальный вид, законное освобождение от власти греха,смерти и ада,с.)"></Block>
</Block>

<Block Title="9)Правильное понимание С.Б.,Завета,Хр. Быт.4:1-8.">
    <Block Title="(1)Каин,Авель – верующие,понимание важности Богослужения."></Block>
    <Block Title="(2)Смысл жертвы Авеля – пролитие крови,вера во Христа. (Божий пророк,принятие С.Б.,Завета,Хр. – Благая Весть). Евр.11:4; - 1-е Пет.1:10-11;Дн.10:43(Лк.11:49-51;Быт.20:7; Иуд.1:14); - Иак.1:18;1-е Пет.1:23(1-е Пет.1:18-20;Отк.13:8); - Ин.3:1-10."></Block>
    <Block Title="(3)Смысл жертвы Каина – плоды земли,свои силы,дела чел. (Дитя д.,непринятие С.Б.,Завета,Хр. – религия). 1-е Ин.3:12."></Block>
</Block>

<Block Title="Важность понимания спасения в В.З. и Н.З.">
    <Block Title="В.З. – Завет,Хр.,Жертва,исполнение С.Б.(Спасение через веру в грядущего Мессию,Христа)."></Block>
    <Block Title="Н.З. – Завет,Хр.,Причастие,исполнение С.Б. (Спасение черех веру в пришедшего Мессию Иисуса Христа)."></Block>
</Block>

@code {

}
