@page "/lessons"
@using Bible_Blazer_PWA.DataSources
@using static Bible_Blazer_PWA.DataSources.LessonDS
@inject HttpClient Http
@inherits ComponentWithDbInteractionBase

@if (_blocks != null)
{
    <h3>Оглавление</h3>

    <ul>
        @foreach (LessonBlock block in _blocks)
        {
            <li class="px-3">
                @block.Name
                <ul>
                    @foreach (LessonInfo lesson in block.Lessons)
                    {
                        <li>
                            <NavLink class="nav-link" href="@($"lessonNew/{lesson.Id}")" Match="NavLinkMatch.All">@lesson.Name</NavLink>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}

@code {
    private LessonDS _lessonDS { get; set; }
    private LinkedList<LessonBlock> _blocks;

    protected override async Task OnInitializedAsync()
    {
        _lessonDS = new LessonDS(this.DatabaseFacade);
        _blocks = await _lessonDS.GetBlocks();
    }
}
