@page "/test"
@using BibleComponents

<h2>2.2.Понимание Веры Божьей – Дела Веры, Дела Закона и Добрые Дела.</h2>
<div class="container-fluid">
    <p>Божья вера – правильное понимание и исполнение С.Б.,Завета,Хр. Мк.11:23;Евр.11:6.</p>
    <p>Человеческая вера – неправильное понимание и исполнение С.Б.,Завета,Хр.</p>
    <p>Дела Веры – познание и передача С.Б.,Завета,Хр.</p>
    <p>Дела Закона – соблюдение заповедей Божьих.</p>
    <p>Добрые Дела – помощь ближнему и творению Божьему.</p>
</div>


<Block Title="1)Вера Божья и дела веры – Б. воля для чел. Мар.11:23">
    <Block Title="(1)Быт.1:27;2:7,16-17;1:28; - вера Божья,Эммануил.">
        <Block Title="(а)Вера Божья – дар Божий,действие благодати Божьей, слышание и принятие С.Б.,Завета,Хр.,право выбора и ответственность человека. Рим.10:17."></Block>
        <Block Title="(б)Дела веры – познание и передача С.Б.,Завета,Хр."></Block>
        <Block Title="(в)Отсутствие Закона как записаного С.Б. Рим.5:13."></Block>
    </Block>
    <Block Title="(2)Быт.3:1-7(Рим.5:12;6:23;Еф.2:2); - чел. вера, нет Эммануила.">
        <Block Title="(а)Отказ от веры Божьей,человеческая вера – слышание и принятие иного слова,право выбора и ответственность чел."></Block>
        <Block Title="(б)Отсутствие дел веры – отсутствие С.Б.,Завета,Хр."></Block>
        <Block Title="(в)Отсутствие Закона как записаного С.Б. Рим.5:13-14."></Block>
    </Block>
    <Block Title="(3)Быт.3:15,21;Мф.16:16;Ин.19:30; - вера Божья,Эммануил.">
        <Block Title="(а)Вера Божья – дар Божий,действие благодати Божьей,слышание и принятие С.Б.,Завета,Хр.,право выбора и ответственность человека. Рим.10:17."></Block>
        <Block Title="(б)Дела веры – познание и передача С.Б.,Завета,Хр."></Block>
        <Block Title="(в)Отсутствие Закона как записаного С.Б. Рим.5:13-14."></Block>
    </Block>
</Block>

<br>

<Block Title="2)Правильное понимание Божьей веры.">
    <Block Title="(1)Вера Божья – дар Божий,действие благодати Божьей, слышание и принятие С.Б.,Завета,Хр.,право выбора и ответственность человека. Рим.10:17;12:3;1-е Кор.3:5;Евр.12:2; - Мк.11:23;Дн.13:46."></Block>
    <Block Title="(2)Источник и критерий веры Божьей – С.Б.,Завет,Хр."></Block>
    <Block Title="(3)Смысл веры Божьей – Христос. Ин.5:39.">
        <Block Title="(а)В.З. – вера в грядущего Христа и Его Жертву за все грехи."></Block>
        <Block Title="(б)Н.З. – вера в Иисуса из Назарета как Христа и Его Жертву за все грехи человека(прошлые,настоящие,будущие)."></Block>
    </Block>
    <Block Title="(4)Уровень и сила веры Божьей – познание и передача С.Б.,Завета,Хр.,исполнение предназначения."></Block>
</Block>

<br>

<Block Title="3)Дела Веры – познание и передача С.Б.,Завета,Хр.">
    <Block Title="(1)Иак.2:14-26; - примеры Дел Веры.">
        <Block Title="(а)Пренебрежение Ц. – противление познанию и передаче С.Б. Мф.28:19-20;2-е Тим.2:2."></Block>
        <Block Title="(б)Вера б. – противление познанию и передаче С.Б.,Завет,Хр."></Block>
        <Block Title="(в)Вера Авраама – познание и передача(род) С.Б.,Завета,Хр. Евр.11:17-19."></Block>
        <Block Title="(г)Вера Раав – принятие(познание) и передача С.Б.,Завет,Хр. (Соглядатаи,вопрос жизни и смерти,Ханаан,Вс.Ев.,род Хр.) Евр.11:31;Ис.Нав.2:9-11."></Block>
    </Block>
    <Block Title="(2)Неправильная мотивация – оправдание через дела веры. (Оправдание через веру,а дела потверждение веры Божьей)."></Block>
    <Block Title="(3)Правильная мотивация – исполнение воли Божьей. Ин.6:28;8:31-32;Мф.28:19-20;2-е Тим.2:2;Деяния."></Block>
    <Block Title="(4)Потверждение спасения – Дела Веры.">
        <Block Title="(а)Исповедание человека. 1-е Ин.4:1-4;1-е Пет.3:15;2-е Кор.13:5. (Понимание: Кто такой Христос? Цель Его прихода?)"></Block>
        <Block Title="(б)Познание С.Б.,Завета,Хр.,поместная Церковь. Ин.8:31-32."></Block>
        <Block Title="(в)Передача С.Б.,Завета,Хр.,ученики,Вс.Ев. Мф.28:19-20."></Block>
        <Block Title="(г)Участие в таинствах Б. – Водное Крещение,Причастие."></Block>
        <Block Title="(д)Изменение жизни человека."></Block>
    </Block>
</Block>

<br>

<Block Title="4)Дела Закона. Рим.3:31;7:12;1-е Тим.1:8.">
    <Block Title="(1)Неправильная мотивация – спасение через исполн. Закона. Гал.3:10-14;5:4;2:16,21;Рим.3:20-28;9:30-33(Мф.5:17)."></Block>
    <Block Title="(2)Правильная мотивация – правильная жизнь,служение Богу."></Block>
    <Block Title="(3)Важность различения дел Веры и дел Закона.">
        <Block Title="(а)Дела Веры не основаны на делах Закона – невозможность 100% исполнение Заповедей Закона человеком."></Block>
        <Block Title="(б)Дела Веры – познание и передача С.Б.,Завета,Хр. Результат: личное спасение и спасение другим людям."></Block>
        <Block Title="(в)Дела Закона(«смешанное евангелие») – заслужить спасение. Результат: нет личного спасения и нет спасения другим людям."></Block>
        <Block Title="(г)Евангелие(Благая Весть) раньше Закона,искупление и прощение всех грехов,оправдание и усыновление человека."></Block>
        <Block Title="(д)Закон не служит для оправдания человека(Закон – Скиния)."></Block>
    </Block>
</Block>

<br>

<Block Title="5)Добрые Дела. Еф.2:10;Тит.2:11-14;3:4-8.">
    <Block Title="(1)Правильная мотивация – передача С.Б.,прославление Бога."></Block>
    <Block Title="(2)Неправильная мотивация – зарабатывание спасения."></Block>
</Block>

<br>

<Block Title="Заключение:">
    <Block Title="(1)Важность различения Божьей Веры и человеческой веры."></Block>
    <Block Title="(2)Важность различения дел Веры,дел Закона и Добрых дел."></Block>
    <Block Title="(3)Важность понимания и исполнения предназначения."></Block>
</Block>




