@page "/testInterop"
@inject IJSRuntime JS
<h3>TestInterop</h3>
<p>
    Тестовый
    @*<BSButton Id="popover2" OnClick="onclick2" IsOutline="true" Color="Color.Primary" Size="Size.Small">Быт.3:15</BSButton>
    <BSPopover Target="popover2" IsOpen="@IsOpen2" Placement="Placement.Bottom">
        <BSPopoverHeader>Быт.3:15</BSPopoverHeader>
        <BSPopoverBody>и вражду положу между тобою и между женою, и между семенем твоим и между семенем ее; оно будет поражать тебя в голову, а ты будешь жалить его в пяту</BSPopoverBody>
    </BSPopover>*@
    текст
</p>

@code {

    bool IsOpen2 { get; set; }
    void onclick2(MouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }
}

@code {
    public async Task TriggerNetInstanceMethod()
    {
        var exampleJsInterop = new ExampleJsInterop(JS);
        await exampleJsInterop.CallHelloHelperSayHello("Blazor");
    }
}