@page "/test"
<h3>Дела Веры,Закона и Добрые дела.</h3>

<div>
    Вера Б. – правильное понимание и исполнение С.Б.,Завет,Хр.
    Дела веры – познание и передача С.Б.,Завета,Хр.
    Дела закона – исполнение стандартов Божьих.
    Добрые дела – помощь и служение творению Божьему.

    1)Вера Божья и дела веры – Б. воля для чел. Мк.11:23;Иак.2:20.
    (1)Быт.1:27;2:7,16-17;1:28; - вера Божья,Эммануил.
    (а)Дела веры – познание и передача С.Б.,Завета,Хр.
    (б)Дела закона – исполнение стандартов Божьих. Рим.2:14-15.
    (в)Добрые дела – помощь и служение творению Божьему,
    важность передачи С.Б.,Завета,Хр.

    (2)Быт.3:1-7(Рим.5:12;6:23;Еф.2:2); - чел. вера. Ос.6:7;Рим.14:23.
    (а)Отсутствие дел веры – отсутствие С.Б.,Завета,Хр.
    (б)Отсутствие дел закона – греховная природа чел. 1-е Кор.2:14.
    (в)Добрые дела – выгода человека,зарабатывание спасения.

    (3)Быт.3:15,21;Мф.16:16;Ин.19:30; - вера Божья,Эммануил.
    (а)Дела веры – познание и передача С.Б.,Завета,Хр.
    (б)Дела закона – невозможность 100% исполнения стандартов Божьих,остатки греховной сущности детей Божьих.
    (в)Добрые дела – помощь и служение творению Божьему,
    важность передачи С.Б.,Завета,Хр.

    2)Примеры Дел Веры до появления Закона.
    (1)Авель – познание и передача С.Б.,Завета,Хр.
    Евр.11:4(6); - 1-е Пет.1:10-11;Дн.10:43;Лк.11:49-51.
    (2)Енох – познание и передача С.Б.,Завета,Хр.
    Евр.11:5(6); - 1-е Пет.1:10-11;Дн.10:43;Иуд.1:14.
    (3)Ной – познание и передача С.Б.,Завета,Хр.,нарушение
    Б. стандартов. Евр.11:7; - 1-е Пет.1:10-11;Дн.10:43;2-е Пет.2:5.
    (4)Авраам – познание и передача С.Б.,Завета,Хр.,нарушение
    Б. стандартов. Евр.11:8-10; - 1-е Пет.1:10-11;Дн.10:43;Быт.20:7.



    Важность понимания Евангелия и Закона.
    (1)Евангелие(Благая Весть) раньше Закона,искупление и
    прощение всех грехов,оправдание и усыновление человека.
    (2)Закон не служит для оправдания человека(Закон – Скиния).
    (а)Осознание греха и невозможности спасения своими силами.
    (б)Правильная жизнь,служение Богу(Божьи стандарты).

    3)Примеры Дел Веры в В.З.
    (1)Появление закона – Декалог,Богослужебный,социально –
    правовой.
    (2)Давид – познание и передача С.Б.,Завета,Хр.(Храм),
    нарушение Божьих стандартов.
    Евр.11:32; - 1-е Пет.1:10-11;Дн.10:43;Дн.2:29-32(2-я Цар.23:1-2).
    (3)Исаия – познание и передача С.Б.,Завета,Хр.,нарушение
    Божьих стандартов. Евр.11:36-37; - 1-е Пет.1:10-11;Дн.10:43.

    4)Примеры Дел Веры в Н.З.
    (1)Утверждение Закона – Декалог,Богослужебный – литургия Н.З.,социально-правовой – законы страны.
    Рим.3:31; - Мф.5:28;Дн.2:42;Рим.13:1-5.
    (2)Павел – познание и передача С.Б.,Завета,Хр.,нарушение
    Божьих стандартов. 2-е Кор.12:7.
    (3)Петр – познание и передача С.Б.,Завета,Хр.,нарушение
    Божьих стандартов. Гал.2:11-14.

    5)Дела Веры – познание и передача С.Б.,Завета,Хр.
    (Два отрицательных и положительных примера). Иак.2:14-26.
    (1)Пренебрежение Ц. – противление познанию и передаче С.Б.
    Мф.28:19-20;2-е Тим.2:2.
    (2)Вера б. – противление познанию и передаче С.Б.,Завет,Хр.
    (3)Вера Авраама – познание и передача(род) С.Б.,Завета,Хр.
    Евр.11:17-19.
    (4)Вера Раав – принятие(познание) и передача С.Б.,Завет,Хр.
    (Соглядатаи,вопрос жизни и смерти,Ханаан,Вс.Ев.,род Хр.)
    Евр.11:31;Ис.Нав.2:9-11.



    Итог:
    (1)Дела  веры не основаны на делах Закона. Ин.6:28-29(Деяния).
    (2)Неправильная мотивация – оправдание через дела веры.
    (3)Правильная мотивация – исполнение воли Б.,служение Б.
    (4)Дела Веры – познание и передача Завета,Хр.
    Ин.6:28;Ин.15:8;Мф.28:19-20;2-е Тим.2:2;Деяния.
    Результат: личное спасение и спасение другим людям.
    (5)Дела Закона(смешанное «евангелие») – заслужить спасение.
    Гал.3:10-14;5:4;2:16,21;Рим.3:20-28;9:30-33; - Мф.19:25-26.
    Результат: нет личного спасения и нет спасения другим людям.

    6)Потверждение спасения – Дела Веры.
    (1)Исповедание человека. 1-е Ин.4:1-4;1-е Пет.3:15;2-е Кор.13:5.
    (Понимание: Кто такой Христос? Цель Его прихода?)
    (2)Познание С.Б.,Завета,Хр.,поместная Церковь. Ин.8:31-32.
    (3)Передача С.Б.,Завета,Хр.,ученики,Вс.Ев. Мф.28:19-20.
    (4)Участие в таинствах Б. – Водное Крещение,Причастие.
    (5)Изменение жизни(идеология,мировозрение,ценности).

    7)Важность Дел Закона. Рим.3:31.
    (1)Правильная мотивация – правильная жизнь,служение Богу.
    (2)Неправильная мотивация – спасение через исполн. Закона.
    Гал.5:4;2:16,21(Исх.20;25-30;Дн.26:4-7); - Гал.3:16;Рим.4:11;9:30.

    8)Важность Добрых Дел. Еф.2:10;Тит.2:11-14;3:4-8.
    (1)Правильная мотивация – передача С.Б.,прославление Бога.
    (2)Неправильная мотивация – зарабатывание спасения.

    Важность различения Религии и Евангелия.
    РЕЛИГИЯ: спасение своими силами(все религии – «дела»).
    БЛАГАЯ ВЕСТЬ: спасение от Б.(Христос умер вместо меня).

    Заключение:
    (1)Важность понимания С.Б.,Завета,Хр.
    (2)Важность различения дел Веры,дел Закона и Добрых дел.
    (3)Важность понимания действия с. – искажение С.Б,Завета,Хр.

</div>

@code {

}
