@inherits LayoutComponentBase
@inject DbParametersFacade dbParamteres
@using Bible_Blazer_PWA.Parameters;

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color: @parametersModel.MainBackground">
    <div class="content px-4" style="background-color: @parametersModel.MainBackground">
        @Body
    </div>
</div>

@code
{
    private ParametersModel parametersModel;

    protected async override Task OnInitializedAsync()
    {
        parametersModel = dbParamteres.ParametersModel;
    }
}
